#intro {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
/*	min-height: 100%;*/
/*	background-color: #8EBB21;*/
	background-image: url('assets/main-lander.jpg');
	min-width: 100%;
	height: 100vh;
	/*filter: sepia([ <number> | <percentage> ])*/
	background-color: #000;
    color: #000;
    -webkit-filter: grayscale(100%);
/*	-webkit-filter: brightness(70%);*/
	display: inline-block;
}
.nav-container {
	background: transparent;
}
.navbar-rightside {
	float: right;
	margin-right: 5rem;
	margin-top: 1.5em;
}
.nav-right {
	display: inline-block;
	color: #FFFFFF;
	font-size: 1.5em;
	-webkit-filter: brightness(120%) !important;
	font-family: 'Raleway', sans-serif;
	margin-right: 1.5em;
}
 #image-container {
    margin: auto;
    width: 50%;

    padding: 10px;
 	width: 440px;
 	max-width: 440px;
 }
.profile-img {
	 max-width: 440px;
	 border-radius: 60%;
}
