#intro {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
/*	min-height: 100%;*/
/*	background-color: #8EBB21;*/
	background-image: url('assets/main-lander.jpg');
	min-width: 100%;
	height: 100vh;
	/*filter: sepia([ <number> | <percentage> ])*/
	background-color: #000;
    color: #000;
    -webkit-filter: grayscale(100%);
/*	-webkit-filter: brightness(70%);*/
	display: inline-block;
}
#nav-container {
	margin: auto;
	width: 50%;
	height: 50%;
}
.navbar-rightside {
	float: right;
	margin-right: 5rem;
	margin-top: 1.5em;
}
.nav-right {
	display: inline-block;
	color: #FFFFFF;
	font-size: 1.5em;
	-webkit-filter: brightness(120%) !important;
	font-family: 'Raleway', sans-serif;
	margin-right: 1.5em;
}
li {
	color: #FFFFFF;
	font-size: 2.5em !important;
	font-family: 'Raleway', sans-serif;
}
 #image-container {
    margin: auto;
    width: 50%;

    padding: 10px;
 	width: 440px;
 	max-width: 440px;
 }
.profile-img {
	 max-width: 370px;
	 border-radius: 60%;
	 border: 0.4em solid #000;
}
 #header-wrapper {
text-align: center;
margin-top: 2em;
 }
.about-tag {
	font-family: 'Raleway', sans-serif;
	font-size: 2.5em;
}

#about-content {
	display: inline-flex;
}
#about-tag-info {
	font-family: 'Raleway', sans-serif;
}

#about-text {
	background-color: #F0F0F0;

}

.intro-text {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;	
}

.about-column {
	width: 40%;
	margin-left: 6em;

}

